* {
  box-sizing: border-box;
  
  body {
    margin: 0;
    padding: 5% 20%;
    background-color: #f7f4f4;

    div {
      float: left;
      width: 50%;
    
      button {
        margin: 5% 1%;
        background-color: #d8d8d8;
        border-radius: 10%;
        padding: 2%;
        font-size: 18px;
        font-weight: bold;
        a {
          text-decoration: none;
          color: #000000;
        }
      }
    
      #input {
        margin: 5% 1%;
      }
    }
  }
}



